# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
build/
*/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Environment variables (giữ an toàn thông tin)
# Lưu ý: Khi clone về, copy file .env.example thành .env
.env.local
